name: Deploy usando Github Action

on:
  push:
    branches: [ "hmg" ]
  pull_request:
    branches: [ "hmg" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4
      with:
          folder: dist
